*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Courier New', monospace;
}

body {
	background-color: #333;
	color: aliceblue;
	height: 100vh;
	overflow: hidden;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

p {
	margin: 10px;
}

.option-container {
	width: 800px;
	height: 80px;
	margin: 30px;
	border: 2px solid rgb(4, 158, 158);
	display: flex;
	align-items: center;
	border-radius: 20px;
	padding: 40px;
	perspective: 800px;
}

#computer,
#player {
	border: 2px solid rgb(4, 158, 158);
}

#computer .destroyer {
	background-color: brown;
}

#computer .submarine {
	background-color: green;
}

#computer .crusier {
	background-color: purple;
}

#computer .battleship {
	background-color: orange;
}

#computer .carrier {
	background-color: blue;
}

.boat {
	margin: 10px;
	border-radius: 5px;
	transition: 0.3s;
}

.destroyer-preview {
	width: 60px;
	height: 30px;
}

.submarine-preview {
	width: 90px;
	height: 30px;
}

.crusier-preview {
	width: 90px;
	height: 30px;
}

.battleship-preview {
	width: 120px;
	height: 30px;
}

.carrier-preview {
	width: 150px;
	height: 30px;
}

button {
	position: relative;
	text-decoration: none;
	border: none;
	background-color: transparent;
	color: aliceblue;
	font-size: 4px;
	padding: 10px 20px;
	border-radius: 5px;
	margin: 30px;
	transition: 0.3s;
}

.selected {
	color: blueviolet;
	font-weight: bold;
}

.x1:before {
	color: aliceblue;
	content: '⎧';
	position: absolute;
	font-size: 24px;
	left: 0px;
	top: 5px;
}

.x1:after {
	color: aliceblue;
	content: '⎭';
	position: absolute;
	font-size: 24px;
	right: 0px;
	bottom: 5px;
}

button:hover {
	cursor: pointer;
	color: blueviolet;
	font-weight: bold;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

#gamesboard-container {
	width: 1200px;
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.game-board {
	width: 406px;
	height: 406px;
	margin: 0px 60px;
	display: flex;
	flex-wrap: wrap;
	border-radius: 5px;
	color: teal;
}

.block {
	width: 40px;
	height: 40px;
	text-align: center;
	transition: 0.1s;
}

span {
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 22px;
}

.hover {
	border: 2px solid rgb(4, 158, 158);
}

.boom {
	background-color: red !important ;
}

.empty {
	background-color: grey;
}

table {
	font-size: 0.3px;
}

/* div #player {
	transform: rotateX(55deg) rotateY(0deg) translateZ(10px);
}

div #computer {
	transform: rotateX(55deg) rotateY(0deg) translateZ(10px);
}

#gamesboard-container {
	perspective: 800px;
} */

iframe {
	border: none;
	position: absolute;
	z-index: -1;
	top: -10px;
	right: 10px;
}

#info{
	font-size: 40px;
	letter-spacing: 2px;
	font-weight: bold;
}