<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BattleShips</title>
		<link rel="stylesheet" href="main.css" />
	</head>
	<body>
		<div class="wrapper">
			<pre class="BattleShips">
______  ___ _____ _____ _      _____   _____ _   _ ___________  _____ 
| ___ \/ _ \_   _|_   _| |    |  ___| /  ___| | | |_   _| ___ \/  ___|
| |_/ / /_\ \| |   | | | |    | |__   \ `--.| |_| | | | | |_/ /\ `--. 
| ___ \  _  || |   | | | |    |  __|   `--. \  _  | | | |  __/  `--. \
| |_/ / | | || |   | | | |____| |___  /\__/ / | | |_| |_| |    /\__/ /
\____/\_| |_/\_/   \_/ \_____/\____/  \____/\_| |_/\___/\_|    \____/ </pre
			>

			<div class="links">
				<a href="../graphicalView/graphicalMenu.html">Play with graphical view</a>
				<a href="../textView/textMenu.html">Play with text view</a>
			</div>

			<pre class="battleShip">
                                                                         _.
                                                                   _.--"' |
                                                             _.--"'       |
                                                       _.--"'      _..,.  |
                                                 _.--"'            .==; '.|
                                             _.--"'                     :   |'.
                                         _.--"'                            ;  |  '.
                                     _.--"'                                  :  |    '.
                                 _.--"'                                         ; |      '.
                             _.--"'                         _.                    : |        '.
                         _.--"'                         _.--^"  :                   q I     --mmm--
                          _.--"'                              ;      _,.;_                 |_I____._\___/___._.__
                     _.--"'                                    :_.--^"   :_]                |______|     ==" " "_|'
          |__.--"'                                           ;         ;|                |;I H| |_______'(|)|
                      .   | :                                                :     _   :|                |:I_H|_|______[ '._|    _.---.______
                            I   | ;             ,    \                    \         ;__ [_]___;                |||____________| '_|    \|   ;""         |
                          ______.---._    ______ I  /|:        \     ;\    \                    \      ,d.-^'|| '-.b.     ___       L| I|  |"  |   |_[_|_X__[|___:_,.-^>_.---.______             /|
   ;                          "":"|'|/    _\--/  I_/_|;         \    :/\ __nm__                _nm   _d______||______b.__EEEE3       | I|__| m |___|__H_____|_ m__|'^|"  \|  ;""                //|
   ;      ______.---._<^-.,_____;___|]__\|____|_|I___|] .--_____nm____; |_dHH|_|.-           |dHH|_|,-======''==_===;===|====|______|_I|__|_W_|___|__H_____^__W__|__|____|___:___,.--._nnn__m__//_o
   :\         "":   |/ "|  |   __ m ___ .d88b. H m m || |_|-|-|-|-|-|-|  H*''|  .mmmmmmmmm^^" '|m[]H"m""""""|   |_| []  [_]   /*  *  * * * * *|_|'"7 | *  *   *   *   *  *  *  *  *  *     .V.    ;
  :_\__,.,_n_m_;___|]_I|_[|__[__]W_____'Y88P'_H_W_W_||_|_|_|_|_|_|_|_|__H&[]|_____^MMMM^______|W__H%$&$__I_____ -'________.-'                | | /  |                                    ^(8)-  ;
 |<    H  * * *  * *  * *  *  * *  * * * * * * * *  *  *  *  *  *   *   *  *  *  *                                                                                       *  *  *   *  *       :
|  _|_H_|_                                           ___________________________________________________________________________________                                                    ;
'-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------'
            </pre
			>
		</div>
	</body>

	<script src="../../controller/arrowsLR.js"></script>
</html>
