<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BattleShips</title>
		<link rel="stylesheet" href="main.css" />
	</head>
	<body>
		<iframe src="../../model/Photos/MainPhoto.html" width="100%" height="100%"></iframe>
		<div class="wrapper">
			<pre class="battleShips">
 ▄▄▄▄▄▄▄▄▄▄   ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄            ▄▄▄▄▄▄▄▄▄▄▄       ▄▄▄▄▄▄▄▄▄▄▄  ▄         ▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄ 
▐░░░░░░░░░░▌ ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░▌          ▐░░░░░░░░░░░▌     ▐░░░░░░░░░░░▌▐░▌       ▐░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌
▐░█▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀▀▀▀█░▌ ▀▀▀▀█░█▀▀▀▀  ▀▀▀▀█░█▀▀▀▀ ▐░▌          ▐░█▀▀▀▀▀▀▀▀▀      ▐░█▀▀▀▀▀▀▀▀▀ ▐░▌       ▐░▌ ▀▀▀▀█░█▀▀▀▀ ▐░█▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀▀▀▀▀▀ 
▐░▌       ▐░▌▐░▌       ▐░▌     ▐░▌          ▐░▌     ▐░▌          ▐░▌               ▐░▌          ▐░▌       ▐░▌     ▐░▌     ▐░▌       ▐░▌▐░▌          
▐░█▄▄▄▄▄▄▄█░▌▐░█▄▄▄▄▄▄▄█░▌     ▐░▌          ▐░▌     ▐░▌          ▐░█▄▄▄▄▄▄▄▄▄      ▐░█▄▄▄▄▄▄▄▄▄ ▐░█▄▄▄▄▄▄▄█░▌     ▐░▌     ▐░█▄▄▄▄▄▄▄█░▌▐░█▄▄▄▄▄▄▄▄▄ 
▐░░░░░░░░░░▌ ▐░░░░░░░░░░░▌     ▐░▌          ▐░▌     ▐░▌          ▐░░░░░░░░░░░▌     ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌     ▐░▌     ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌
▐░█▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀▀▀▀█░▌     ▐░▌          ▐░▌     ▐░▌          ▐░█▀▀▀▀▀▀▀▀▀       ▀▀▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀▀▀▀█░▌     ▐░▌     ▐░█▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀█░▌
▐░▌       ▐░▌▐░▌       ▐░▌     ▐░▌          ▐░▌     ▐░▌          ▐░▌                         ▐░▌▐░▌       ▐░▌     ▐░▌     ▐░▌                    ▐░▌
▐░█▄▄▄▄▄▄▄█░▌▐░▌       ▐░▌     ▐░▌          ▐░▌     ▐░█▄▄▄▄▄▄▄▄▄ ▐░█▄▄▄▄▄▄▄▄▄       ▄▄▄▄▄▄▄▄▄█░▌▐░▌       ▐░▌ ▄▄▄▄█░█▄▄▄▄ ▐░▌           ▄▄▄▄▄▄▄▄▄█░▌
▐░░░░░░░░░░▌ ▐░▌       ▐░▌     ▐░▌          ▐░▌     ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌     ▐░░░░░░░░░░░▌▐░▌       ▐░▌▐░░░░░░░░░░░▌▐░▌          ▐░░░░░░░░░░░▌
 ▀▀▀▀▀▀▀▀▀▀   ▀         ▀       ▀            ▀       ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀       ▀▀▀▀▀▀▀▀▀▀▀  ▀         ▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀            ▀▀▀▀▀▀▀▀▀▀▀ 
</pre>

			<div class="links">
				<a href="../graphicalView/graphicalMenu.html"><pre>
██████  ██       █████  ██    ██     ██     ██ ██ ████████ ██   ██      ██████  ██████   █████  ██████  ██   ██ ██  ██████  █████  ██          ██    ██ ██ ███████ ██     ██ 
██   ██ ██      ██   ██  ██  ██      ██     ██ ██    ██    ██   ██     ██       ██   ██ ██   ██ ██   ██ ██   ██ ██ ██      ██   ██ ██          ██    ██ ██ ██      ██     ██ 
██████  ██      ███████   ████       ██  █  ██ ██    ██    ███████     ██   ███ ██████  ███████ ██████  ███████ ██ ██      ███████ ██          ██    ██ ██ █████   ██  █  ██ 
██      ██      ██   ██    ██        ██ ███ ██ ██    ██    ██   ██     ██    ██ ██   ██ ██   ██ ██      ██   ██ ██ ██      ██   ██ ██           ██  ██  ██ ██      ██ ███ ██ 
██      ███████ ██   ██    ██         ███ ███  ██    ██    ██   ██      ██████  ██   ██ ██   ██ ██      ██   ██ ██  ██████ ██   ██ ███████       ████   ██ ███████  ███ ███  
</pre></a>
				<a href="../textView/textMenu.html"><pre>
██████  ██       █████  ██    ██     ██     ██ ██ ████████ ██   ██     ████████ ███████ ██   ██ ████████     ██    ██ ██ ███████ ██     ██ 
██   ██ ██      ██   ██  ██  ██      ██     ██ ██    ██    ██   ██        ██    ██       ██ ██     ██        ██    ██ ██ ██      ██     ██ 
██████  ██      ███████   ████       ██  █  ██ ██    ██    ███████        ██    █████     ███      ██        ██    ██ ██ █████   ██  █  ██ 
██      ██      ██   ██    ██        ██ ███ ██ ██    ██    ██   ██        ██    ██       ██ ██     ██         ██  ██  ██ ██      ██ ███ ██ 
██      ███████ ██   ██    ██         ███ ███  ██    ██    ██   ██        ██    ███████ ██   ██    ██          ████   ██ ███████  ███ ███  
</pre></a>
			</div>

			<pre class="battleShip">
		</div>
	</body>

	<script src="../../controller/arrowsLR.js"></script>
</html>
