<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BattleShips - TextView</title>
		<link rel="stylesheet" href="css/textOption.css" />
	</head>
	<body>
		<div class="wrapper">
			<pre class="option">
 ▄▄▄▄▄▄▄▄▄▄▄    ▄▄▄▄▄▄▄▄▄▄▄    ▄▄▄▄▄▄▄▄▄▄▄    ▄▄▄▄▄▄▄▄▄▄▄    ▄▄▄▄▄▄▄▄▄▄▄    ▄▄        ▄    ▄▄▄▄▄▄▄▄▄▄▄ 
▐░░░░░░░░░░░▌  ▐░░░░░░░░░░░▌  ▐░░░░░░░░░░░▌  ▐░░░░░░░░░░░▌  ▐░░░░░░░░░░░▌  ▐░░▌      ▐░▌  ▐░░░░░░░░░░░▌
▐░█▀▀▀▀▀▀▀█░▌  ▐░█▀▀▀▀▀▀▀█░▌   ▀▀▀▀█░█▀▀▀▀    ▀▀▀▀█░█▀▀▀▀   ▐░█▀▀▀▀▀▀▀█░▌  ▐░▌░▌     ▐░▌  ▐░█▀▀▀▀▀▀▀▀▀ 
▐░▌       ▐░▌  ▐░▌       ▐░▌       ▐░▌            ▐░▌       ▐░▌       ▐░▌  ▐░▌▐░▌    ▐░▌  ▐░▌          
▐░▌       ▐░▌  ▐░█▄▄▄▄▄▄▄█░▌       ▐░▌            ▐░▌       ▐░▌       ▐░▌  ▐░▌ ▐░▌   ▐░▌  ▐░█▄▄▄▄▄▄▄▄▄ 
▐░▌       ▐░▌  ▐░░░░░░░░░░░▌       ▐░▌            ▐░▌       ▐░▌       ▐░▌  ▐░▌  ▐░▌  ▐░▌  ▐░░░░░░░░░░░▌
▐░▌       ▐░▌  ▐░█▀▀▀▀▀▀▀▀▀        ▐░▌            ▐░▌       ▐░▌       ▐░▌  ▐░▌   ▐░▌ ▐░▌   ▀▀▀▀▀▀▀▀▀█░▌
▐░▌       ▐░▌  ▐░▌                 ▐░▌            ▐░▌       ▐░▌       ▐░▌  ▐░▌    ▐░▌▐░▌            ▐░▌
▐░█▄▄▄▄▄▄▄█░▌  ▐░▌                 ▐░▌        ▄▄▄▄█░█▄▄▄▄   ▐░█▄▄▄▄▄▄▄█░▌  ▐░▌     ▐░▐░▌   ▄▄▄▄▄▄▄▄▄█░▌
▐░░░░░░░░░░░▌  ▐░▌                 ▐░▌       ▐░░░░░░░░░░░▌  ▐░░░░░░░░░░░▌  ▐░▌      ▐░░▌  ▐░░░░░░░░░░░▌
 ▀▀▀▀▀▀▀▀▀▀▀    ▀                   ▀         ▀▀▀▀▀▀▀▀▀▀▀    ▀▀▀▀▀▀▀▀▀▀▀    ▀        ▀▀    ▀▀▀▀▀▀▀▀▀▀▀ 
</pre
			>

			<div class="buttons">
				<div class="howToPlay">
					<button class="howToPlay selected x1">
						<pre class="howToPlay">
	██   ██  ██████  ██     ██     ████████  ██████      ██████  ██       █████  ██    ██ 
	██   ██ ██    ██ ██     ██        ██    ██    ██     ██   ██ ██      ██   ██  ██  ██  
	███████ ██    ██ ██  █  ██        ██    ██    ██     ██████  ██      ███████   ████   
	██   ██ ██    ██ ██ ███ ██        ██    ██    ██     ██      ██      ██   ██    ██    
	 ██   ██  ██████   ███ ███         ██     ██████      ██      ███████ ██   ██    ██ 	
	</pre
						>
					</button>
					<div class="infoHowToPlay">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi cum esse mollitia veniam quam
						dignissimos consequuntur eos suscipit blanditiis nemo modi autem cupiditate rem, illo repellat earum
						temporibus nesciunt voluptatibus.
					</div>
				</div>
				<div class="levels">
					<button class="difficultyLevel">
						<pre>
	██████  ██ ███████ ███████ ██  ██████ ██    ██ ██      ████████ ██    ██     ██      ███████ ██    ██ ███████ ██      
	██   ██ ██ ██      ██      ██ ██      ██    ██ ██         ██     ██  ██      ██      ██      ██    ██ ██      ██      
	██   ██ ██ █████   █████   ██ ██      ██    ██ ██         ██      ████       ██      █████   ██    ██ █████   ██      
	██   ██ ██ ██      ██      ██ ██      ██    ██ ██         ██       ██        ██      ██       ██  ██  ██      ██      
	██████  ██ ██      ██      ██  ██████  ██████  ███████    ██       ██        ███████ ███████   ████   ███████ ███████ 
	</pre
						>
					</button>
					<div class="levelOption">
						<button class="lvl easy">
							<pre>
	 _______  _______  _______          
	(  ____ \(  ___  )(  ____ \|\     /|
	| (    \/| (   ) || (    \/( \   / )
	| (__    | (___) || (_____  \ (_) / 
	|  __)   |  ___  |(_____  )  \   /  
	| (      | (   ) |      ) |   ) (   
	| (____/\| )   ( |/\____) |   | |   
	(_______/|/     \|\_______)   \_/   
						</pre
							>
						</button>
						<button class="lvl normal">
							<pre>
	 _  	  _______  _______  _______  _______  _       
	( (    /|(  ___  )(  ____ )(       )(  ___  )( \      
	|  \  ( || (   ) || (    )|| () () || (   ) || (      
	|   \ | || |   | || (____)|| || || || (___) || |      
	| (\ \) || |   | ||     __)| |(_)| ||  ___  || |      
	| | \   || |   | || (\ (   | |   | || (   ) || |      
	| )  \  || (___) || ) \ \__| )   ( || )   ( || (____/\
	|/    )_)(_______)|/   \__/|/     \||/     \|(_______/
						</pre
							>
						</button>
						<button class="lvl hard">
							<pre>
		  _______  _______  ______   _______  _______  _______  _______ 
	|\     /|(  ___  )(  ____ )(  __  \ (  ____ \(  ___  )(  ____ )(  ____ \
	| )   ( || (   ) || (    )|| (  \  )| (    \/| (   ) || (    )|| (    \/
	| (___) || (___) || (____)|| |   ) || |      | |   | || (____)|| (__    
	|  ___  ||  ___  ||     __)| |   | || |      | |   | ||     __)|  __)   
	| (   ) || (   ) || (\ (   | |   ) || |      | |   | || (\ (   | (      
	| )   ( || )   ( || ) \ \__| (__/  )| (____/\| (___) || ) \ \__| (____/\
	|/     \||/     \||/   \__/(______/ (_______/(_______)|/   \__/(_______/</pre
							>
						</button>
					</div>
				</div>
			</div>

			<pre class="ship">
        |__
	|\/
	---
	/ | [
 !      | |||
_/|     _/|-++'
   +  +--|    |--|--|_ |-
{ /|__|  |/\__|  |--- |||__/
+---------------___[}-_===_.'____               /\
____`-' ||___-{]_| _[}-  |     |_[___\==--          \/   _
__..._____--==/___]_|__|_____________________________[___\==--___,-----' .7
|                                                                   BB-61/
\_______________________________________________________________________|</pre
			>
		</div>

		<script src="../../controller/options.js"></script>
	</body>
</html>
