<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BattleShips - TextView</title>
		<link rel="stylesheet" href="css/textMenu.css" />
	</head>
	<body>
		<iframe src="../../model/Photos/MenuPhoto.html" width="100%" height="100%"></iframe>
		<div class="wrapper">
			<pre class="menu">
 
 ▄▄       ▄▄    ▄▄▄▄▄▄▄▄▄▄▄    ▄▄        ▄    ▄         ▄ 
▐░░▌     ▐░░▌  ▐░░░░░░░░░░░▌  ▐░░▌      ▐░▌  ▐░▌       ▐░▌
▐░▌░▌   ▐░▐░▌  ▐░█▀▀▀▀▀▀▀▀▀   ▐░▌░▌     ▐░▌  ▐░▌       ▐░▌
▐░▌▐░▌ ▐░▌▐░▌  ▐░▌            ▐░▌▐░▌    ▐░▌  ▐░▌       ▐░▌
▐░▌ ▐░▐░▌ ▐░▌  ▐░█▄▄▄▄▄▄▄▄▄   ▐░▌ ▐░▌   ▐░▌  ▐░▌       ▐░▌
▐░▌  ▐░▌  ▐░▌  ▐░░░░░░░░░░░▌  ▐░▌  ▐░▌  ▐░▌  ▐░▌       ▐░▌
▐░▌   ▀   ▐░▌  ▐░█▀▀▀▀▀▀▀▀▀   ▐░▌   ▐░▌ ▐░▌  ▐░▌       ▐░▌
▐░▌       ▐░▌  ▐░▌            ▐░▌    ▐░▌▐░▌  ▐░▌       ▐░▌
▐░▌       ▐░▌  ▐░█▄▄▄▄▄▄▄▄▄   ▐░▌     ▐░▐░▌  ▐░█▄▄▄▄▄▄▄█░▌
▐░▌       ▐░▌  ▐░░░░░░░░░░░▌  ▐░▌      ▐░░▌  ▐░░░░░░░░░░░▌
 ▀         ▀    ▀▀▀▀▀▀▀▀▀▀▀    ▀        ▀▀    ▀▀▀▀▀▀▀▀▀▀▀ 
</pre
			>

			<div class="links">
				<a href="textPlay.html">
					<pre>
██      ███████ ████████ ███████     ██████  ██       █████  ██    ██ 
██      ██         ██    ██          ██   ██ ██      ██   ██  ██  ██  
██      █████      ██    ███████     ██████  ██      ███████   ████   
██      ██         ██         ██     ██      ██      ██   ██    ██    
███████ ███████    ██    ███████     ██      ███████ ██   ██    ██    
</pre
					>
				</a>
				<a href="textShop.html">
					<pre>
███████ ██   ██  ██████  ██████  
██      ██   ██ ██    ██ ██   ██ 
███████ ███████ ██    ██ ██████  
     ██ ██   ██ ██    ██ ██      
███████ ██   ██  ██████  ██      
</pre
					>
				</a>
				<a href="textRanking.html">
					<pre>
██████   █████  ███    ██ ██   ██ ██ ███    ██  ██████  
██   ██ ██   ██ ████   ██ ██  ██  ██ ████   ██ ██       
██████  ███████ ██ ██  ██ █████   ██ ██ ██  ██ ██   ███ 
██   ██ ██   ██ ██  ██ ██ ██  ██  ██ ██  ██ ██ ██    ██ 
██   ██ ██   ██ ██   ████ ██   ██ ██ ██   ████  ██████  
</pre
					>
				</a>
				<a href="textOption.html">
					<pre>
 ██████  ██████  ████████ ██  ██████  ███    ██ 
██    ██ ██   ██    ██    ██ ██    ██ ████   ██ 
██    ██ ██████     ██    ██ ██    ██ ██ ██  ██ 
██    ██ ██         ██    ██ ██    ██ ██  ██ ██ 
 ██████  ██         ██    ██  ██████  ██   ████ 
</pre
					>
				</a>
				<a href="../main/main.html">
					<pre>
███████ ██   ██ ██ ████████ 
██       ██ ██  ██    ██    
█████     ███   ██    ██    
██       ██ ██  ██    ██    
███████ ██   ██ ██    ██    
</pre
					>
				</a>
			</div>
		</div>
		<script src="../../controller/arrowsUD.js"></script>
	</body>
</html>
